{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h4>Abusers control panel</h4>
        <div class="btn-group">
            <select name="" id="report_date" class="btn btn-primary" aria-label="">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">Jule</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <button class="btn btn-secondary" name='show_report' id="show_report" value="show" data-toggle="modal"
                    data-target="#myModal">Show report
            </button>
            <button class="btn btn-success" name='generate_report' id="generate_report" value="generate">Generate data
            </button>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title">Abusers Report</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-condensed" id="myTable">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Used</th>
                            <th>Quota</th>
                        </tr>
                        </thead>
                        <tfoot class="text-muted">
                        <tr>
                            <th>Company</th>
                            <th>Used</th>
                            <th>Quota</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/abusers.js' %}"></script>
{% endblock %}
