<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <title>Transfer page</title>
  <style>
  .select {
    border: 0px;

  }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">VPN</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item ">
          <!-- <a class="nav-link" href="#">Users<span class="sr-only">(current)</span></a> -->
          <a class="nav-link" href="{% url 'user' %}">Users<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="company.html">Companies</a> -->
          <a class="nav-link" href="{% url 'company' %}">Companies</a>
        </li>
        <li class="nav-item active">
          <!-- <a class="nav-link" href="transfer.html">Traffic</a> -->
          <a class="nav-link" href="#">Abusers<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container rounded mt-4">
  <table id='myTable' class='table table-striped'>
    <thead>
      <tr>
      <th>User</th>
      <th>
        <select class="select" name="" id='select'>
          <option value="">January</option>
          <option value="">February</option>
          <option value="">March</option>
          <option value="">April</option>
          <option value="">May</option>
          <option value="">June</option>
          <option value="">July</option>
          <option value="">August</option>
          <option value="">September</option>
          <option value="">October</option>
          <option value="">November</option>
          <option value="">December</option>
        </select>
        </th>
      <th>Resource</th>
      <th>Traffic</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ log.user }}</td>
        <td>{{ log.date }}</td>
        <td>{{ log.resource }}</td>
        <td>{{ log.traffic }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr class='text-muted'>
      <th>User</th>
      <th>Date</th>
      <th>Resource</th>
      <th>Traffic</th>
      </tr>
    </tfoot>
  </table>
  <button class='btn btn-outline-primary' id='show_report'>Show report</button>
  <button class='btn btn-outline-primary' id='generate_data'>Generate data</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>

<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();

} );

$('#select').change(function () {
console.log('select')
})

$('#show_report').click(function () {
console.log('show_report')
})

$('#generate_data').click(function () {
console.log('generate_data')
})

</script>
</body>
</html>
