{% extends 'layout.html' %}
{% block content %}
    <table id='myTable' class='display table table-striped'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Quote</th>
        </tr>
        </thead>
        <tfoot>
        <tr class='text-muted'>
            <th>Name</th>
            <th>Quote</th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            var editor;
            editor = new $.fn.dataTable.Editor({
                ajax: '/api_auth/transfer/?format=datatables',
                table: '#myTable',
                fields: [
                    {label: 'Name', name: 'name'},
                    {label: 'Quote', name: 'quote'},
                ]
            });

            var table = $('#myTable').DataTable({
                "serverSide": true,
                "ajax": "/api_auth/company/?format=datatables",
                dom: 'Bfrtip',
                "columns": [
                    {"data": "name"},
                    {"data": "quote"},
                ],
                select: true,
                buttons: [
                    {extend: 'create', editor: editor},
                    {extend: 'edit', editor: editor},
                    {extend: 'remove', editor: editor}
                ]
            });
        });
    </script>

{% endblock %}