{% extends 'layout.html' %}
{% block content %}
    <table id='myTable' class='display table table-striped'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Quote</th>
        </tr>
        </thead>
        <tfoot>
        <tr class='text-muted'>
            <th>Name</th>
            <th>Quote</th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            var editor;
            var url_path = '/api_auth/company/';
            editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: "POST",
                        dataSrc: "",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: url_path,
                        data: function (d) {
                            var newdata;
                            $.each(d.data, function (key, value) {
                                newdata = JSON.stringify(value);
                            });
                            return newdata;
                        },


                    },
                    edit: {
                        type: "PUT",
                        url: url_path + "_id_/",
                        dataSrc: "",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: function (d) {
                            var newdata;
                            $.each(d.data, function (key, value) {
                                newdata = JSON.stringify(value);
                            });
                            return newdata;
                        },
                    },
                    remove: {
                        type: "DELETE",
                        url: url_path + "_id_/",
                        dataSrc: "",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: function (d) {
                            var newdata;
                            $.each(d.data, function (key, value) {
                                newdata = JSON.stringify(value);
                            });
                            return newdata;
                        },
                    }
                    },
                    table: '#myTable',
                    idSrc: 'id',
                    fields: [
                        {label: 'Name', name: 'name'},
                        {label: 'Quote', name: 'quote'},
                    ]

                });

            var table = $('#myTable').DataTable({
                "serverSide": true,
                "ajax": "/api_auth/company/?format=datatables",
                dom: 'Bfrtip',
                "columns": [
                    {"data": "name"},
                    {"data": "quote"},
                ],
                select: true,
                buttons: [
                    {extend: 'create', editor: editor},
                    {extend: 'edit', editor: editor},
                    {extend: 'remove', editor: editor}
                ]
            });
        });
    </script>

{% endblock %}