{% extends 'layout.html' %}
{% block content %}
<h1 class='m-4'>Welcome to main page!</h1>
    <div class="container m-2">
    <p><h3>Select a category:</h3></p>
<div class="btn-group">
    <a class='btn btn-success' href="{% url 'user' %}">User page</a>
    <a class='btn btn-secondary' href="{% url 'company' %}">Company page</a>
    <a class='btn btn-primary' href="{% url 'transfer' %}">Transfer page</a>
    <a class='btn btn-outline-dark' href="{% url 'abusers' %}">Abusers page</a>
</div>
    </div>
{% endblock %}