{% extends 'layout.html' %}
{% block content %}
    <table id='myTable' class='display table table-striped'>
        <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Resource</th>
            <th>Traffic</th>
        </tr>
        </thead>
        <tfoot>
        <tr class='text-muted'>
            <th>User</th>
            <th>Date</th>
            <th>Resource</th>
            <th>Traffic</th>
        </tr>
        </tfoot>
    </table>
    <div class="container">
    <div class="btn-group">
        <select name="" id="" class="btn btn-outline-warning">
            <option value="">January</option>
            <option value="">February</option>
            <option value="">March</option>
            <option value="">April</option>
            <option value="">May</option>
            <option value="">June</option>
            <option value="">Jule</option>
            <option value="">December</option>
        </select>
        <div class="btn btn-default">Show report</div>
        <div class="btn btn-success">Generate data</div>
    </div>
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "serverSide": true,
                "ajax": "/api_auth/transfer/?format=datatables",
                "columns": [
                    {"data": "user"},
                    {"data": "date"},
                    {"data": "resource"},
                    {"data": "traffic"},
                ]
            });
        });
    </script>
{% endblock %}