{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <table id='myTable' class='display table table-striped'>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr class='text-muted'>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>

    <button type="button" class="btn btn-primary" id="add_user">
        Add user
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="user_id">
                    <div class="container ">
                        <span class="input-group-addon">First name</span>
                        <input type="text" id="first_name" class="form-control">

                        <span class="input-group-addon">Last name</span>
                        <input type="text" id="last_name" class="form-control">

                        <span class="input-group-addon">Email</span>
                        <input type="text" id="email" class="form-control">

                        <span class="input-group-addon">Company</span>
                        <select name="Company" id="company" class="form-control">
                            {% for company in companies %}
                                <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/user.js' %}"></script>

{% endblock %}
