<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <style>
    .box-border {
      border-radius: 3px border: 2px solid black;
    }
  </style>

  <title>Users page</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">VPN</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Users<span class="sr-only">(current)</span></a> -->
          <a class="nav-link" href="#">Users<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="company.html">Companies</a> -->
          <a class="nav-link" href="{% url 'company' %}">Companies</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="transfer.html">Traffic</a> -->
          <a class="nav-link" href="{% url 'abusers' %}">Abusers</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4 box-border">
    <table id='myTable' class='table table-striped'>
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Company</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.company }}</td>
          <th><button class='btn btn-outline-warning btn-sm'>Edit</button></th>
          <th><button class='btn btn-outline-danger btn-sm'>Delete</button></th>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class='text-muted'>
          <th>User</th>
          <th>Email</th>
          <th>Company</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="container">
    <button type="button" class='btn btn-outline-primary btn-xl' name="button">Add user</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#myTable').DataTable(
        // {
        // 'ajax': {
        //   url:'',
        //   type:'POST',
        //   dataType:'json',
        //   success: function(data,text) {
        //
        //   }
        // }
      // }
    );
      });
  </script>
</body>

</html>
