{% extends 'layout.html' %}
{% block content %}
    <table id='myTable' class='display table table-striped'>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
        </thead>
        <tfoot>
        <tr class='text-muted'>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
        </tfoot>
    </table>

    <script>
        var first_name = faker.name.firstName();
        var last_name = faker.name.lastName();
        var email = faker.internet.email();
        var company = faker.company.companyName();
        var company_quote = faker.random.number({min:75,max:200});

        console.log('First name: ' + first_name + ' Last name: ' + last_name + ' Email: ' + email+' Company: '+company+' Quote number: '+company_quote);

    </script>

    <script>
        $(document).ready(function () {
            var editor;
            editor = new $.fn.dataTable.Editor({
                ajax: '/api_auth/transfer/',
                table: '#myTable',
                idSrc:  'id',
                fields: [
                    {label: 'First name', name: 'first_name'},
                    {label: 'Last name', name: 'last_name'},
                    {label: 'Email', name: 'email'},
                    {label: 'Company', name: 'company'},
                ]
            });

            var table = $('#myTable').DataTable({
                "serverSide": true,
                "ajax": "/api_auth/user/?format=datatables",
                dom: 'Bfrtip',
                "columns": [
                    {"data": "first_name"},
                    {"data": "last_name"},
                    {"data": "email"},
                    {"data": "company"},
                ],
                select: true,
                buttons: [
                    {extend: 'create', editor: editor},
                    {extend: 'edit', editor: editor},
                    {extend: 'remove', editor: editor}
                ]
            });
        });
    </script>

{% endblock %}